<!DOCTYPE html>
<html>
<head>
    <title>Education</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/skills">Skills</a> |
        <a href="/aboutme">About Me</a> |
        <a href="/education">Education</a> |
        <a href="/contact">Contact Me</a>
    </nav>
    <h1>Education</h1>
    <ul>
        <li>
            <strong>Bachelor of Technology in Computer Science Engineering</strong><br/>
            DIT University, Dehradun, 2020-2024<br>
            CGPA : 7.87<br>
        </li>
        <br>
        <li>
            <strong>Higher Secondary (PCM)</strong><br/>
            Asha Modern School, Saharanpur, 2020
        </li>
    </ul>
</body>
</html>